[submodule "pyelftools"]
	path = pyelftools
	url = https://github.com/eliben/pyelftools.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = https://github.com/bminor/binutils-gdb.git
[submodule "pin"]
	path = pin
	url = https://github.com/zhilongwang/pin.git
[submodule "testcases/leetcode"]
	path = testcases/leetcode
	url = https://github.com/lennylxx/leetcode.git
[submodule "testcases/leetcode2/leetcode"]
	path = testcases/leetcode2/leetcode
	url = https://github.com/begeekmyfriend/leetcode.git
